<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" xmlns:tools="http://schemas.android.com/tools"
  package="io.dcloud.uni_modules.bsfStripeCardInputWidget">
 <application  android:theme="@style/Theme.MaterialComponents.DayNight.NoActionBar">
	<activity
      android:name="io.dcloud.PandoraEntry"
	 windowSoftInputMode="adjustResize|stateHidden"
     android:theme="@style/Theme.MaterialComponents.DayNight.NoActionBar" />
	 <activity
	   android:name="io.dcloud.PandoraEntryActivity"
	  windowSoftInputMode="adjustResize|stateHidden"
	  android:theme="@style/Theme.MaterialComponents.DayNight.NoActionBar" />
</application>
</manifest>